<%- include('./partials/authheader.ejs') %>
<title>Sign Up</title> 
<link href="/css/login.css" rel="stylesheet">
<body>
    <div class="container w-25">
        <h1 class="text-center mt-2 mb-3 font-weight-normal">Sign Up</h1>
        <%- include('./partials/messages.ejs') %> 
        <form action="/signup" method="POST">
    
            <div class="form-group px-0">
                <input type="text" name="name" class="form-control" placeholder="Name" required>
            </div>

            <div class="form-group px-0">
              <select id="dept" class="form-control" name="dept" required>
                <% const deptOptions = ["Electrical Department","Mechanical Department","Operations Department"] %> 
                <% deptOptions.forEach(deptOption =>{ %> 
                    <option value="<%= deptOption %>"><%= deptOption %></option>
                  <% }) %> 
            </select>
            </div>
            
            <div class="form-group px-0">
                <input type="text" name="employee_id" class="form-control" placeholder="Employee ID" required>
            </div>

            <div class="form-group px-0">
                <input type="text" name="designation" class="form-control" placeholder="Designation" required>
            </div>
    
            <div class="form-group px-0">
                <input type="password" name="password" class="form-control" placeholder="Password" required>
            </div>
    
            <button type="submit" class="btn btn-dark btn-block">Register</button>
        </form>
        <a href="/login">Back to Login</a>
    </div>
</body>